body {
  overflow-x: hidden;
}
.jumbotron,
.card-body,
.container,
.site-header {
  font-family: "Raleway", serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53c0fb;
  background: url("../img/cover_back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 50rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color 0.15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}
/* Globales */
h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: sans-serif;
}
img {
  max-width: 100%;
}
.contenedor {
  max-width: 65rem;
  margin: 0 auto;
}

/* Productos */
.centrado {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.imagen-producto {
  max-height: 12rem;
  width: 100%;
}

.input-precio {
  max-width: 5rem;
  max-height: 1.5rem;
}

/* Login */
#imgLogin {
  max-width: 500px;
}
.tarjeta-login {
  border-radius: 10px;
  border-style: groove;
}

/* Producto */
.carrousel-auto {
  max-width: 400px;
}
.titulo-producto {
  font-family: "Noto Serif", serif;
  font-weight: 800;
}
.descripcion-producto {
  font-family: "Noto Serif", serif;
  font-weight: 400;
}
.categoria-producto {
  font-family: "Noto Serif", serif;
  font-weight: 400;
}
.carrousel-producto {
  height: 18rem;
}

@media (min-width: 765px) {
  .productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
  }
  .tarjeta-producto {
    height: 500px;
  }
}

/*Info producto */

.star-rating {
  direction: rtl;
  display: inline-block;
  padding: 10px 0 10px 0;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  color: rgb(133, 142, 192);
  font-size: 25px;
  padding: 0;
  cursor: pointer;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type="radio"]:checked ~ label {
  color: #ffbf00;
}
.active-comentarios {
  color: #ffbf00;
}
/* Productos Relacionados */

.producto-relacionado {
  height: 500px;
}

/* Carrito */
.body-carrito {
  background-color: rgb(224, 223, 223);
}
@media (max-width: 768px) {
  .elemento-carrito {
    margin: 0 auto;
  }
}

.bordes-carrito {
  border: 5px black;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 1px grey;
}

.imagen-producto-carrito {
  max-height: 5rem;
  width: 9rem;
}
.titulos-carrito {
  display: none;
}
@media (min-width: 768px) {
  .titulos-carrito {
    display: flex;
    justify-content: space-around;
  }
}
.cantidad-disponible-carrito {
  text-align: left;
}
.nombre-producto-carrito {
  font-family: "Castoro", serif;
  font-weight: 700;
}
.subtotal {
  display: inline-block;
  text-align: right;
}
.input-cantProductos {
  text-align: center;
  max-width: 60px;
}
table {
  margin: 15px auto;
  width: 98%;
}

/* Mi Perfil */
.contenedor-datos-personales {
  width: 70%;
  margin: 0 auto;
  border: 5px black;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 1px grey;
}
.btnModificarDatos {
  border: none;
}
